body{
    background-color: #E5EAF0;
}

.container{
    width: 350px;
    padding: 16px;
    background-color: #FFFFFF;
    border-radius: 14px;
    margin: 120px auto;
}

.main-img{
    width: 100%;
    margin-bottom: 20px;
}

.main-img img{
    width: 100%;
    border-radius: 12px;
    
}



.btn-iteam span {
    font-family: "Sora", sans-serif;
    color: #883AE1;
    background-color: #E6D6FC;
    padding: 4px 18px;
    font-size: 13px;
    font-weight: 500;
    border-radius: 25px;
}

.content h2{
    font-family: "Sora", sans-serif;
    font-size: 1.153rem;
    margin: 0;
    color: #20293A;
}

.content {
    margin-top: 21px;
    position: relative;
}

.content p {
    width: 88%;
    margin: 0;
    font-family: "Sora", sans-serif;
    font-size: 14px;
    color: #6C727F;
    line-height: 22px;
    margin-top: 7px;
    margin-bottom: 25px;
}


.content::after {
    content: "";
    width: 382px;
    height: 1px;
    background: #E5EAF0;
    display: block;
    position: absolute;
    top: 115px;
    left: -16px;
}

.person-name {
    padding-top: 16px;
    padding-bottom: 2px;
}

.person-name span {
    font-family: "Sora", sans-serif;
    font-size: 13px;
    color: #6C727F;
}



@media screen and (max-width:576px) {
    .container{
        margin: 50% auto;
    }
}



@media screen and (min-width:576px) and (max-width:992px) {
    .container{
        margin: 50% auto;
    }
}